#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/class/qmake.mk

export DH_VERBOSE=1

dh_testdir:

dh_auto_clean:

dh_clean:

override_dh_auto_build:
	cd snapcraft-qt

override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=$(CURDIR)/debian/tmp

%:
	dh $@
